@import "./imports";

/* 
=================
Navbar
=================
*/
@media (max-width: 919px) {
  body {
    .navbar {
      .nav-container {
        .nav-links {
          position: fixed;
          top: 8%;
          left: 0;
          width: 100%;
          height: 0;
          overflow: hidden;
          transition: $transition;

          .nav-link {
            background-color: $white;
            padding: 1rem 2rem;
            cursor: pointer;
            display: block;

            &:hover {
              /* 256px */
              background-color: lighten($light-color, 17%);
              color: #111;
              padding-left: 2.25rem;
            }
          }
        }
        .show-links {
          height: 256px !important;
        }
      }
    }
  }
}

.navbar {
  background: $white;
  box-shadow: $light-shadow;
  z-index: 1;
  position: fixed;
  width: 100%;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 2rem;
    max-width: 1260px;
    margin: 0 auto;

    .logo {
      max-width: 180px;
    }
    .nav-links {
      display: block;
      justify-content: space-between;
      // flex: 0 0 auto;

      .nav-link {
        font-size: 16px;
        padding: 0 10px;
        text-transform: capitalize;
        letter-spacing: $spacing;
        font-family: $font-stack;
        transition: $transition;
        // opacity: 0.9;

        &:hover {
          color: $primary-color;
        }
      }
    }
    .nav-icons {
      display: none;
      justify-content: space-between;
      padding: 0 2rem;

      .nav-icon {
        padding: 8px;
        color: $primary-color;
        transition: $transition;

        &:hover {
          color: $light-color;
        }
      }
    }

    .bars {
      padding: 10px;
      .separator {
        color: $primary-color;
        cursor: pointer;

        transform: scale(1.2);
        transition: $transition;

        &:hover {
          transform: scale(1.4);
        }
      }
    }
  }
}
@media (min-width: 920px) {
  body {
    .navbar {
      .nav-container {
        .nav-links,
        .nav-icons {
          display: flex;
        }
        .bars {
          display: none;
        }
      }
    }
  }
}

/* 
=================
Hero
=================
*/
.hero-section {
  background: $primary-color;
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
  }

  .hero-content {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    color: $white;
    width: 80%;

    .hero-title {
      text-transform: uppercase;
      letter-spacing: $spacing;
      font-family: $font-stack;
      font-size: 3rem;
    }
    .hero-text {
      letter-spacing: $spacing;
      font-family: $font-stack;
      font-size: 14px;
      margin: 0 auto;
      padding: 0.5rem 0 1.5rem 0;
    }
    .hero-btn {
      margin: 0 auto;
      background-color: $white;
      color: $primary-color;
      padding: 1rem 1.8rem;
      font-size: 20px;
      letter-spacing: $spacing;
      border: 2px solid $white;

      &:hover {
        background-color: rgba($white, 0);
        color: $white;
      }
    }
  }
}
@media (min-width: 768px) {
  .hero-section {
    background: linear-gradient(to bottom, darken($primary-color, 7%), #000);
    &::before {
      background: url("../images/main.jpeg") no-repeat center center/cover;
    }
    .hero-content {
      width: 800px;
      .hero-title {
        font-size: 4rem;
      }
      .hero-text {
        width: 660px;
        font-size: 15px;
      }
    }
  }
}
/* 
=================
About
=================
*/
.about-section {
  background-color: $white;

  .about-content {
    width: 95%;
    margin: 0 auto;
    max-width: 1168px;

    .about-img {
      padding-bottom: 1rem;
    }
    h3 {
      @include format-text;
      padding: 0.5rem 0;
    }
  }
}
@media (min-width: 992px) {
  body {
    .about-section {
      .about-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        width: 99%;

        .about-img {
          max-width: 570px;
        }
        .about-text {
          h3 {
            font-size: 1.75rem;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (min-width: 1168px) {
  body {
    .about-section {
      .about-content {
        .about-img {
          z-index: 0;
          position: relative;
          img {
            z-index: 1;
            position: relative;
          }
          &::before {
            content: " ";
            border: 8px solid $primary-color;
            width: 100%;
            height: 95%;
            position: absolute;
            top: -25px;
            left: -25px;
            z-index: 0;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
/* 
=================
Services
=================
*/
.services-section {
  background-color: $grey;

  .services-content {
    text-align: center;

    .services-item {
      max-width: 19.5rem;
      margin: 0 auto;

      .services-icon {
        background-color: $primary-color;
        width: 3.5rem;
        margin: 1rem auto;
        padding: 1rem 0.75rem;
        max-height: 3.8rem;

        i {
          opacity: 0.6;
        }
      }
      .services-name {
        @include format-text;
        font-size: 0.9rem;
        padding: 0.5rem 0;
      }
      p {
        padding-bottom: 2rem;
      }
    }
  }
}
@media (min-width: 576px) {
  body {
    .services-section {
      .services-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .services-item {
          flex: 0 0 calc(50% - 2rem);
          margin: 0;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  body {
    .services-section {
      .services-content {
        .services-item {
          flex: 0 0 calc(33.33% - 2rem);
          margin: 0;
        }
      }
    }
  }
}
@media (min-width: 1170px) {
  body {
    .services-section {
      .services-content {
        .services-item {
          // flex: 0 0 calc(33.33% - 2rem);
          // margin: 0;
          display: flex;
          text-align: left;

          .services-text {
            padding-left: 1.2rem;

            .services-name {
              font-size: 1rem;
              padding-bottom: 0.25rem;
              margin-top: 0.25rem;
            }
            p {
              width: 18rem;
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

/* 
=================
Tours
=================
*/
.tours-section {
  margin: 0 0.25rem;
  .tour-card {
    margin: 2rem auto;
    background-color: $grey;
    box-shadow: $light-shadow;
    transition: $transition;
    max-height: 495px;

    &:hover {
      box-shadow: $dark-shadow;
      transform: scale(1.02);
    }
    .tour-img {
      position: relative;

      p {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.25rem;
        background-color: lighten($primary-color, 10%);
        text-transform: capitalize;
        transform: translateY(-3px);
      }
    }
    .tour-info {
      padding: 1.5rem;
      .tour-name {
        @include format-text;
        font-size: 0.9rem;
        padding-bottom: 0.75rem;
      }
      .tour-details {
        display: flex;
        justify-content: space-between;
        color: $primary-color;
        text-transform: capitalize;
        padding: 0.5rem 0;
      }
    }
  }
  .tour-btn {
    margin: 0 auto;
    display: block;
  }
}
@media (min-width: 768px) {
  body {
    .tour-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;

      .tour-card {
        flex: 0 0 calc(50% - 2rem);
        max-height: 475px;
      }
    }
  }
}
@media (min-width: 1168px) {
  body {
    .tour-container {
      .tour-card {
        flex: 0 0 calc(33.33% - 3rem);
        margin: 1.25rem 0;
      }
    }
  }
}

/* 
=================
Form
=================
*/
.form-section {
  background-color: $primary-color;
  padding: 5rem 2rem;
  .form-text {
    h3 {
      color: #fff;
      text-transform: capitalize;
      @include format-text;
    }
    p {
      color: lighten($light-color, 20%);
      font-size: 14px;
      padding-top: 1rem;
    }
  }
  .form-input {
    input {
      text-transform: capitalize;
      padding: 0.5rem 0.25rem;
      font-size: 16px;
      letter-spacing: $spacing;
      color: $primary-color;
      width: 66%;
      height: 39px;
    }
    button {
      background-color: $light-color;
      color: $dark-color;
      text-transform: capitalize;
      font-size: 1rem;
      padding-top: 8px;

      &:hover {
        background-color: $dark-color;
        color: $primary-color;
      }
    }
  }
}
@media (min-width: 800px) {
  body {
    .form-section {
      .form-text {
        h3 {
          font-size: 1.6rem;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  body {
    .form-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;

      .form-input {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0.5rem;
        flex-grow: 1;
        input {
          flex: 1 0 66%;
        }
        button {
          margin: 0;
        }
      }
    }
  }
}
/* 
=================
Gallery
=================
*/
.gallery-section {
  .gallery-img {
    position: relative;
    background-color: $primary-color;
    margin: 0;
    &:hover img {
      opacity: 0.5;
    }
    &:hover a {
      display: block;
    }

    img {
      transition: $transition;
      display: block;
    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      display: none;
    }
  }
}
@media (min-width: 768px) {
  body {
    .gallery-section {
      display: flex;
      flex-wrap: wrap;
      .gallery-img {
        flex: 0 0 50%;
      }
    }
  }
}
@media (min-width: 992px) {
  body {
    .gallery-section {
      .gallery-img {
        flex: 0 0 25%;
      }
    }
  }
}
/* 
=================
Footer
=================
*/
.footer {
  background-color: darken($dark-color, 9%);
  padding: 4rem 2rem 6rem;
  color: $white;
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }

  .footer-links {
    text-transform: capitalize;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    letter-spacing: $spacing;
    transition: $transition;

    .footer-link {
      transition: $transition;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .footer-icons {
    text-align: center;
    padding: 2rem 0;
    .footer-icon {
      padding: 1rem 0.25rem;
      transition: $transition;

      &:hover {
        color: $primary-color;
      }
    }
  }
  .footer-text {
    text-align: center;
    letter-spacing: $spacing;
    font-size: 15px;
  }
}
